@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;500;700&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  box-sizing: border-box;
  font-family: "Arima Madurai", cursive;
}

a {
  color: #b31459;
}
a:hover, a:active {
  color: #dc5791;
}
a:hover {
  opacity: 0.6;
}

header {
  font-weight: 300;
  background: #fff;
  text-transform: uppercase;
}

.header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-navigation__left-list {
  display: flex;
  list-style-type: none;
}
.header-navigation__left-list .header-navigation__left-list__item {
  padding-right: 1.25rem;
}
.header-navigation__left-list .header-navigation__left-list__item_link {
  color: #094962;
  text-decoration: none;
}
.header-navigation__left-list .header-navigation__left-list__item_link:hover {
  color: #b31459;
}
.header-navigation__left-list .header-navigation__left-list__item_link.active {
  color: #b31459;
}

.header-navigation__logo {
  width: 12.5rem;
  height: auto;
}

.header-navigation__right-list {
  display: flex;
  list-style-type: none;
}
.header-navigation__right-list .header-navigation__right-list__item {
  padding-right: 1.25rem;
}
.header-navigation__right-list .header-navigation__right-list__item_link {
  color: #094962;
  text-decoration: none;
}
.header-navigation__right-list .header-navigation__right-list__item_link:hover {
  color: #b31459;
}
.header-navigation__right-list .header-navigation__right-list__item_link.active {
  color: #b31459;
}

footer {
  background-color: #0a4a62;
  color: #ffffff;
  text-align: center;
  padding: 1.875rem 0;
  font-weight: 200;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer-container__contact-us {
  padding: 0.813rem 1.625rem;
  color: #0a4a62;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-container-logos-list {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  list-style-type: none;
  padding: 0;
}

.footer-container-logos-list__item_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer-container-logos-list__item_link:hover {
  color: #b31459;
}

.main-image-figure {
  margin: 0;
}
.main-image-figure .main-image-figure__image {
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
  filter: brightness(50%);
}
.main-image-figure .main-image-figure__caption {
  position: absolute;
  bottom: -5.625rem;
  left: 3.125rem;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}
.main-image-figure .main-image-figure__caption p {
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  line-height: 2rem;
  letter-spacing: 0.09rem;
  padding: 1.25rem 3.75rem;
  background-color: #e9eaec;
  color: #094962;
  text-align: center;
}

.experience__heading, .meet-employees__heading, .join-us__heading {
  font-size: 2rem;
}

.experience-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.experience-icon-list__item-image {
  width: 6.25rem;
}

.meet-employees-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 0.8rem;
  text-align: left;
}
.meet-employees-list__item-image {
  width: 31.25rem;
}
.meet-employees-list__item-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.meet-employees-list__item-link {
  padding: 0.813rem 1.625rem;
  color: #fff;
  background-color: #b31459;
  text-decoration: none;
  text-transform: uppercase;
}

.sign-up__privacy-info {
  font-size: 0.8rem;
}

.sign-up__form-email {
  padding: 0.625rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-family: inherit;
  width: 12.5rem;
}
.sign-up__form-submit {
  padding: 0.688rem 1.25rem;
  background-color: transparent;
  color: #b31459;
  border: 2px solid #b31459;
}

/*# sourceMappingURL=about.css.map */
