@use "../base/base";
@use "../layout/header";
@use "../layout/footer";
@use "../saas-utils/main";
@use "../saas-utils/services";
@use "../saas-utils/button";
@use "../saas-utils/main-image";

.main-image-figure {
  @include main-image.main-image;
}

main {
  @include main.main(#e9eaec, #094962);
}

.experience__heading, .meet-employees__heading, .join-us__heading {
  font-size: 2rem;
}

.experience-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;

  &__item {
    &-image {
      width: 6.25rem;
    }
  }
}

.meet-employees-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 0.8rem;
  text-align: left;

  &__item {
    &-image {
      width: 31.25rem;
    }

    &-caption {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-link {
      @include button.button-link(#b31459, #fff);
    }

  }
}

.sign-up {
  &__privacy-info {
    font-size: 0.8rem;
  }
}

.sign-up__form {
  &-email {
    padding: 0.625rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, .12);
    font-family: inherit;
    width: 12.5rem;
  }

  &-submit {
    padding: 0.688rem 1.25rem;
    background-color: transparent;
    color: #b31459;
    border: 2px solid #b31459;
  }
}
