@use "../base/base";
@use "../layout/header";
@use "../layout/footer";
@use "../saas-utils/home";
@use "../saas-utils/main";

main {
  @include main.main(#ffff, #094962);
  text-align: left;
}

.main-image {
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
}

.about-brilliant {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-weight: 400;
    font-size: 2.5rem;
  }

  &__link {
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #b31459;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.wedding-portfolio {
  @include home.portfolio('wedding-portfolio');
}

.wedding-portfolio-container {
  @include home.portfolio-item('wedding-portfolio-container', #ede1d9, #094962);
}

.services-portfolio {
  @include home.portfolio('services-portfolio');
}

.services-portfolio-container {
  @include home.portfolio-item('services-portfolio-container', #ede1d9, #094962);
}

.team-portfolio {
  @include home.portfolio('team-portfolio');

  &__image {
    align-self: flex-start;
    max-width: 100%;
    max-height: 100%;
  }
}

.team-portfolio-container {
  @include home.portfolio-item('team-portfolio-container', #0a4a62, #ffffff);
  margin-top: 6rem;
  margin-left: -6rem;
}

.clients-portfolio {
  @include home.portfolio('clients-portfolio');

  &__image {
    align-self: flex-start;
    max-width: 100%;
    max-height: 100%;
  }
}

.clients-portfolio-container {
  @include home.portfolio-item('clients-portfolio-container', #0a4a62, #ffffff);
  margin-top: 12rem;
  margin-left: -6rem;
}

.follow-us {
  text-align: center;

  &__heading {
    font-size: 2rem;
  }
}

.follow-us-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;

  &__item {
    width: 15%;
    height: 10rem;
    &-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
