@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;500;700&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  box-sizing: border-box;
  font-family: "Arima Madurai", cursive;
  font-size: 16px;
}

a {
  color: #b31459;
}
a:hover, a:active {
  color: #b31459;
}
a:hover {
  opacity: 0.6;
}

header {
  font-weight: 300;
  background: #fff;
  text-transform: uppercase;
}

.header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-navigation__left-list {
  display: flex;
  list-style-type: none;
}
.header-navigation__left-list .header-navigation__left-list__item {
  padding-right: 20px;
}
.header-navigation__left-list .header-navigation__left-list__item_link {
  color: #094962;
  text-decoration: none;
}
.header-navigation__left-list .header-navigation__left-list__item_link:hover {
  color: #b31459;
}
.header-navigation__left-list .header-navigation__left-list__item_link.active {
  color: #b31459;
}

.header-navigation__logo {
  width: 200px;
  height: auto;
}

.header-navigation__right-list {
  display: flex;
  list-style-type: none;
}
.header-navigation__right-list .header-navigation__right-list__item {
  padding-right: 20px;
}
.header-navigation__right-list .header-navigation__right-list__item_link {
  color: #094962;
  text-decoration: none;
}
.header-navigation__right-list .header-navigation__right-list__item_link:hover {
  color: #b31459;
}
.header-navigation__right-list .header-navigation__right-list__item_link.active {
  color: #b31459;
}

footer {
  background-color: #0a4a62;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
  font-weight: 200;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer-container__contact-us {
  padding: 13px 26px;
  color: #0a4a62;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-container-logos-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.footer-container-logos-list__item_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
}
.footer-container-logos-list__item_link:hover {
  color: #b31459;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  line-height: 2em;
  letter-spacing: 0.09em;
  padding: 20px 60px;
  background-color: #e9eaec;
  color: #094962;
  text-align: center;
}

.services-image-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.services-image-list .services-image-list__item-image {
  width: 300px;
  height: 375px;
}

.full-wedding-planning-image-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.full-wedding-planning-image-list .full-wedding-planning-image-list__item-image {
  width: 300px;
  height: 375px;
}

.dest-wedding-planning-image-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.dest-wedding-planning-image-list .dest-wedding-planning-image-list__item-image {
  width: 300px;
  height: 375px;
}

.event-planning-image-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}
.event-planning-image-list .event-planning-image-list__item-image {
  width: 300px;
  height: 375px;
}

/*# sourceMappingURL=services.css.map */
