@use "../saas-utils/header-navigation-list.scss" as header-list;

header {
  font-weight: 300;
  background: #fff;
  text-transform: uppercase;
}

.header-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-navigation__left-list {
  @include header-list.list("header-navigation__left-list");
}

.header-navigation__logo {
  width: 200px;
  height: auto;
}

.header-navigation__right-list {
  @include header-list.list("header-navigation__right-list");
}
