@mixin main($backgroundColor, $color) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 2rem;
  letter-spacing: 0.09rem;
  padding: 1.5rem 4rem;
  background-color: #{$backgroundColor};
  color: #{$color};
  text-align: center;
}
