@mixin main-image() {
  margin: 0;

  .main-image-figure__image {
    width: 100%;
    max-height: 50rem;
    object-fit: cover;
    filter: brightness(50%);
  }

  .main-image-figure__caption {
    position: absolute;
    transform: translate(5%, -110%);
    font-size: 4rem;
    color: #ffff;
    text-transform: uppercase;

    p {
      font-size: 1rem;
    }
  }
}
