@mixin images-list($sectionName) {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;

  .#{$sectionName}__item {
    &-image {
      width: 18.75rem;
      height: 23.438rem;
    }
  }
}
